<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sideBarFragment">
    <div id="sidebar">
        <span class="icon-text">
            <img th:src="@{/img/icon.png}" alt="home"/>
            <label class="icon-text-select">home</label>
        </span>
        <span class="icon-text">
            <img th:src="@{/img/icon.png}" alt="FoodAndPlay"/>
            <label><a th:href="@{/foodandplay}">FoodAndPlay</a></label>
        </span>
        <span class="icon-text">
            <img th:src="@{/img/icon.png}" alt="CardNews"/>
            <label><a th:href="@{/cardnews}">CardNews</a></label>
        </span>
    </div>
</th:block>
</html>