<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <div class="board-container">
        <h2 class="board-title">상품 관리</h2>
        <!-- Filter and Search Section -->
        <!-- Filter and Search/Create Section -->
        <th:block th:replace="~{common/common/filter.html :: filter}"></th:block>
        <button class="writer-btn" onclick="fnPageMove('/product/productWrite')">등록하기</button>
        <button class="create-btn" onclick="fnCommonPostCall('/api/collect/parisData', null)">상품수집</button>

        <!-- Board Grid -->
        <div class="board-grid">
            <!-- Sample Cards -->
            <div class="board-card" th:each="data : ${response}">
                <img th:src="${data.imageUrl}" alt="Post Image" class="post-image" />
                <h3 class="post-title" th:text="${data.name}"></h3>
                <p class="post-price"><b th:text="'가격 : ' + ${data.price} + ' 원'"></b></p>
            </div>
        </div>
        <!-- Pagination -->
        <th:block th:replace="~{common/common/pagination.html :: pagination}"></th:block>
    </div>
    <script src="/js/common/commonApi.js"></script>
</th:block>
</html>