<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <div class="post-form">
        <h2>상품 생성</h2>
        <form method="post">
            <!-- Title Input -->
            <div class="form-group">
                <label for="subject">상품명</label>
                <input type="text" id="subject" name="subject" placeholder="제목" required />
            </div>

            <!-- Quill.js Editor -->
            <div class="form-group">
                <label for="editor-container">Content</label>
                <div id="editor-container"></div>
            </div>

            <input type="hidden" id="id" value=""/>
            <input type="hidden" id="url" value="/product/api/insert"/>

            <!-- Submit Button -->
            <div class="form-actions">
                <button type="button" class="submit-btn" id="submit-btn">Submit</button>
                <button type="reset" class="cancel-btn">Cancel</button>
            </div>
        </form>
    </div>
    <script src="/js/common/edit.js"></script>
    <script src="/js/common/commonApi.js"></script>
</th:block>
</html>