<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<head>
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
</head>
<th:block layout:fragment="content">
    <div class="post-view">
        <div class="form-group">
            <label for="name">상품명</label>
            <input type="text" id="name" th:value="${response.getName()}" readonly />
        </div>
        <div class="form-group">
            <label for="totalAmt">총금액</label>
            <input type="text" id="totalAmt" th:value="${response.getTotalAmt()}" readonly />
        </div>
        <div class="form-group">
            <label for="cnt">수량</label>
            <input type="text" id="cnt" th:value="${response.getCnt()}" readonly />
        </div>
    </div>
    <script src="/js/common/commonApi.js"></script>
</th:block>
</html>