<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<head>
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
</head>
<th:block layout:fragment="content">
    <div class="post-view">
        <div class="form-group">
            <label for="subject">상품명</label>
            <input type="text" id="subject" th:value="${response.getSubject()}" readonly />
        </div>
        <div class="form-group">
            <label for="editor-container">Content</label>
            <div id="editor-container" th:utext="${response.getContents()}"></div>
        </div>
    </div>
    <script src="/js/common/commonApi.js"></script>
    <script>
        const quill = new Quill('#editor-container', {
            theme: 'snow',
            readOnly: true,
            modules: {
                toolbar: false
            }
        })
    </script>
</th:block>
</html>