<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <div class="community">
        <!-- Filter and Search/Create Section -->
        <div class="filter-search">
            <div class="filter">
                <label for="start-date">시작일</label>
                <input type="date" id="start-date" />
                <label for="end-date">종료일</label>
                <input type="date" id="end-date" />
                <label for="post-count">글 갯수:</label>
                <select id="post-count">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div class="search-create">
                <input type="text" placeholder="키워드" />
                <button class="create-btn">검색</button>
                <button class="create-btn" onclick="fnPageMove('/board/boardWrite')">등록하기</button>
            </div>
        </div>

        <!-- Posts Table -->
        <table class="post-list">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${response.content}">
                <td th:text="${data.id}"></td>
                <td th:text="${data.subject}"></td>
                <td th:text="${data.createdAt}"></td>
                <td th:text="${data.createdBy}"></td>
            </tr>
            <!-- Add more rows as needed -->
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="pagination" th:if="${totalPages > 0}">
            <!-- 이전 버튼 -->
            <button th:if="${currentPage > 1}"
                    th:onclick="|location.href='?page=${#numbers.max(0, currentPage - 1)}&size=${response.size}'|">
                &laquo;
            </button>

            <!-- 페이지 번호 -->
            <button th:each="i : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${i == (currentPage + 1)} ? 'active'"
                    th:onclick="|location.href='?page=${i - 1}&size=${response.size}'|"
                    th:text="${i}">
            </button>

            <!-- 다음 버튼 -->
            <button th:if="${currentPage < totalPages}"
                    th:onclick="|location.href='?page=${currentPage}&size=${response.size}'|">
                &raquo;
            </button>
        </div>
    </div>
    <!-- pagination -->
<!--    <div class="paginate">-->
<!--        <div class="paginate_list"></div>-->
<!--    </div>-->
    <!-- 페이지네이션 코드-->
<!--    <th:block th:replace="~{common/common/pageing :: paginationScript}"></th:block>-->
</th:block>
</html>