<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <div class="post-view">
        <h2 class="post-title">Post Title</h2>
        <div class="post-meta">
            <span class="post-author">Author: John Doe</span>
            <span class="post-date">Date: 2024-12-28</span>
        </div>
        <div class="post-content">
            <p>
                This is the content of the post. It can include multiple paragraphs, text formatting, or even inline
                images and other media. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                Praesent libero. Sed cursus ante dapibus diam.
            </p>
        </div>
        <div class="post-actions">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
        </div>
    </div>
</th:block>
</html>