<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <div class="community">
        <h2 class="board-title">유저 관리</h2>
        <div class="pb-1">
            전체 회원 수 : <span th:text="${response.getSize()}"></span>
        </div>
        <!-- Filter and Search/Create Section -->
        <th:block th:replace="~{common/common/filter.html :: filter}"></th:block>

        <!-- Posts Table -->
        <table class="post-list">
            <thead>
            <tr>
                <th width="20">번호</th>
                <th width="50">아이디</th>
                <th width="50">이름</th>
                <th width="100">이메일</th>
                <th width="50">닉네임</th>
                <th width="80">생년월일</th>
                <th width="80">전화번호</th>
                <th width="20">권한</th>
                <th width="80">가입시기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${response.content}">
                <td th:text="${data.id}"></td>
                <td th:text="${data.userId}"></td>
                <td th:text="${data.name}"></td>
                <td th:text="${data.email}"></td>
                <td th:text="${data.nickName}"></td>
                <td th:text="${data.birthDate}"></td>
                <td th:text="${data.phoneNumber}"></td>
                <td th:text="${data.role}"></td>
                <td th:text="${#temporals.format(data.createdAt, 'yyyy-MM-dd')}"></td>
            </tr>
            <!-- Add more rows as needed -->
            </tbody>
        </table>

        <!-- Pagination -->
        <th:block th:replace="~{common/common/pagination.html :: pagination}"></th:block>
    </div>
</th:block>
</html>