<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <h1>유저 관리</h1>
    <h1>검색기능 추후 추가</h1>
    <div class="container pt-4 mw-100">
        <div class="pb-1">
              전체 회원 수 : <span th:text="${userList.size}"></span>
        </div>
        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col" style="width: 110px">번호</th>
                <th scope="col" style="width: 300px">유저명</th>
                <th scope="col" style="width: 180px">가입 시기</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="user : ${userList}">
                <th scope="row">
                    <span th:text="${user.id}"></span>
                </th>
                <td>
                    <a class="post-link" th:href="@{'/board/view/' + ${user.id}}">
                        <span th:text="${user.name}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${user.createdAt}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>