<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <h1>메뉴 관리</h1>
    <div class="container pt-4 mw-100">
        <div class="pb-1">
            전체 회원 수 : <span th:text="${menuList.size}"></span>
        </div>
        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col" style="width: 110px">번호</th>
                <th scope="col" style="width: 300px">메뉴명</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="menu : ${menuList}">
                <th scope="row">
                    <span th:text="${menu.id}"></span>
                </th>
                <td>
                    <a class="post-link" th:href="@{'/menu/menuManage/' + ${menu.id}}">
                        <span th:text="${menu.menuName}"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>