<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/default_layout}">
<th:block layout:fragment="content">
    <div class="community">
        <h2 class="board-title">관리자 로그 기록</h2>
        <!-- Filter and Search/Create Section -->
        <th:block th:replace="~{common/common/filter.html :: filter}"></th:block>

        <!-- Posts Table -->
        <table class="post-list">
            <thead>
            <tr>
                <th>번호</th>
                <th>로그타입</th>
                <th>로그명</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${response.content}">
                <td th:text="${data.id}"></td>
                <td th:text="${data.type}"></td>
                <td th:text="${data.name}"></td>
                <td th:text="${data.createdBy}"></td>
                <td th:text="${data.createdAt}"></td>
            </tr>
            <!-- Add more rows as needed -->
            </tbody>
        </table>

        <!-- Pagination -->
        <th:block th:replace="~{common/common/pagination.html :: pagination}"></th:block>
    </div>
</th:block>
</html>