<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default_layout}">
<th:block layout:fragment="content">
    <main>
        <section class="banner">
            <img src="/img/banner.png" alt="Baking Banner">
        </section>
        <section class="charts-and-poster">
            <div class="chart-container">
                <canvas id="userChart"></canvas>
            </div>
            <div class="chart-container">
                <canvas id="salesChart"></canvas>
            </div>
            <div class="poster-container">
                <h3>가장 많은 추천을 받은 최고의 빵</h3>
                <img src="/img/main-bread.png" style="width: 200px; height: 200px;" alt="가장 많은 추천을 받은 최고의 빵">
            </div>
        </section>
    </main>
    <script src="/js/main/main.js"></script>

</th:block>
</html>